@use "../../../styles/font-mixins" as font-mixins;
@use "../../../styles/layout-mixins" as layout-mixins;

.main {
  padding-inline: 1rem;
  &--authentication {
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
  }
}

@media screen and (min-width: 48rem) {
  .main {
  }
}

@media screen and (min-width: 90rem) {
  .main {
  }
}
