.main {
  display: block;
  padding-block: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  &--authentication {
    padding-block: calc(5rem - var(--body-padding-top)) 5rem;
    min-height: calc(
      100vh - var(--body-padding-top) - var(--body-padding-bottom)
    );
    position: relative;
  }
}

@media screen and (min-width: 48rem) {
  .main {
    padding-block: 4rem 0;
  }
}

@media screen and (min-width: 85.5rem) {
  .main {
  }
}
