@use "../../styles/font-mixins" as font-mixins;

.authentication-container {
  &_form {
    background-color: var(--neutral-0);
    max-width: 33.125rem;
    padding: 2.5rem 1rem;
    border-radius: 1rem;
    width: 100%;

    &_heading {
      @include font-mixins.text-preset-3;
      color: var(--neutral-900);
    }

    &_description {
      @include font-mixins.text-preset-6-regular;
      color: var(--neutral-600);
    }
  }
}
