:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  font-family: var(--font-reddit-sans), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  list-style-type: none;
  transition: 0.3s;
}

body {
  min-height: 100vh;
  margin: 0;
}
