@use "../../../../../styles/font-mixins" as font-mixins;

.trendsCard_Chart_Xaxis_Item_Info {
  width: 100%;
  max-width: 175px;
  position: absolute;
  background-color: var(--neutral-0);
  padding: 0.75rem;
  border-radius: 0.625rem;
  box-shadow: 0 5px 0.5rem 0
    color-mix(in srgb, var(--neutral-900) 16%, var(--neutral-0) 0%);
  animation: appear 0.3s ease-in-out;
  display: none;

  &:popover-open {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  @supports (top: anchor(top)) {
    top: anchor(bottom);
    left: calc(anchor(left) - 11px);
    transform: translate(-100%, -100%);
  }

  &.leftToRight {
    @supports (top: anchor(top)) {
      top: anchor(bottom);
      left: calc(anchor(right) + 11px);
      transform: translate(0%, -100%);
    }
  }

  &_SectionHeading {
    @include font-mixins.text-preset-8;
    color: var(--neutral-600);
    margin-bottom: 0.5rem;
  }

  &_SectionText {
    @include font-mixins.text-preset-7;
    color: var(--neutral-900);
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }

  &_SectionParagraph {
    @include font-mixins.text-preset-9;
    color: var(--neutral-900);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
