:root {
  //Neutral
  --neutral-0: #fff;
  --neutral-200: #cbcdd0;
  --neutral-300: #9393b7;
  --neutral-600: #57577b;
  --neutral-900: #21214d;

  //Blue
  --blue-100: #e0e6fa;
  --blue-200: #c7d3f7;
  --blue-600: #4865db;
  --blue-700: #2a4cd5;

  //Red
  --red: #e60013;

  //Other colors
  --red-300: #ff9b99;
  --indigo-200: #b8b1ff;
  --blue-300: #89caff;
  --green-300: #89e780;
  --amber-300: #ffc97c;
}

* {
  font-family: var(--font-reddit-sans), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  list-style-type: none;
  transition: 0.3s;
}

body {
  --body-padding-top: 2rem;
  --body-padding-bottom: 5rem;

  min-height: 100vh;
  max-width: 125rem;
  background: linear-gradient(180deg, #f5f5ff 73%, #e0e0ff 100%);
  padding-block: var(--body-padding-top) var(--body-padding-bottom);
  padding-inline: 1rem;

  display: flex;
  flex-direction: column;
}

button {
  &:hover {
    cursor: pointer;
  }
}

a,
button {
  &:focus-visible {
    outline: none;
    border-radius: 0.5rem;
    box-shadow:
      0 0 0 3px var(--neutral-0),
      0 0 0 5px var(--blue-600);
  }
}

@media screen and (min-width: 48rem) {
  body {
    --body-padding-top: 2.5rem;
    padding-inline: 2rem;
  }
}

@media screen and (min-width: 90rem) {
  body {
    padding-inline: 135px;
  }
}
